<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Button</title>
	<link rel="stylesheet" href="button.css">	
	<link rel="stylesheet" href="../reset.css">
	<link rel="stylesheet" href="../link/link.css">
</head>
<body>
	<a class="button button--primary">Primary</a>
	<a class="button button--secondary">Secondary</a>
	<a class="button button--outline">Outline</a>
	<a class="button button--outline link">Outline with link</a>
</body>
</html>