/* block */
.feature {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem 0;
}

/* modifiers */
.feature--white {
    background-color: #ffffff;
}

.feature--darker-gray {
    background-color: #e5eef5;
}

.feature--lighter-gray {
    background-color: #f0f5f9;
}

/* elements */
.feature__icon--start {
    align-self: flex-start;
    width: 80%;
    margin-top: 2.5rem;
    transform: translateX(-1.5rem);
}

.feature__icon--center {
    width: 100%;
    margin-top: 0;
    transform: translateY(3rem);
}

.feature__icon--end {
    align-self: flex-end;
    width: 80%;
    margin-top: 2.5rem;
    transform: translateX(1.5rem);
}

.feature__icon-social-publishing {
    margin-top: 0;
    transform: translate(1.5rem, 7px);
}

.feature__icon-collaboration {
    margin-bottom: 3rem;
}

.feature__title {
    font-size: 2rem;
    line-height: 2;
    margin: 0 0 .5rem;
}

.feature__text {
    color: #a2aebb;
    line-height: 1.5;
    margin: 0 0 2rem;
}

.feature__other-icon {
    display: block;
    margin: 0 0 2rem;
}


/* tablet and desktop */
@media (min-width: 768px) {
    .feature {
        flex-direction: row;
        align-items: center;
        padding: 0 0 0 2rem;
    }

    .feature--reverse{
        flex-direction: row-reverse;
        padding: 0 2rem 0 0;
    }
    
    .feature__icon {
        width: 60%;
        margin-top: 6rem;
        transform: translateX(0);
    }

    .feature__icon--start {
        align-self: unset;
        margin-right: 4rem;
        transform: translateX(0);
    }

    .feature__icon--center {
        align-self: unset;
        margin-right: 4rem;
    }

    .feature__icon--end {
        align-self: unset;
        margin-left: 4rem;
    }

    .feature__icon-social-publishing {
        transform: translate(1.5rem, 7px);
    }

    .feature__icon-collaboration {
        margin-bottom: 6rem;
    }
}

@media (min-width: 992px) {
    .feature, .feature--reverse{
        padding-left: 20%;
        padding-right: 20%;
    }

    .feature__icon {
        width: 50%;
        transform: translateY(0);
    }
}