<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Feature</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet">
    <link rel="stylesheet" href="feature.css">
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../link/link.css">
    <link rel="stylesheet" href="../button/button.css">
</head>
<body>
    <div class="feature feature--lighter-gray">
        <div>
            <h1 class="feature__title">Social Publishing</h1>
            <p class="feature__text">
                Draft, schedule, and post messages across all your social channels.
                Shorten links with <a class="link">tr.im</a>, attach photos, and target specific audiences.
            </p>
            <p class="feature__text">
                use our Patent-Pending <a class="link">Hopper</a> to deliver content to your audience at the best time.
            </p>
            <a href="" class="button button--primary">Get Started</a>
        </div>
        <img class="feature__icon feature__icon--end feature__icon-social-publishing" 
             srcset="icon-social-publishing-small.png 214w, icon-social-publishing-medium.png 299w, icon-social-publishing-large.png 467w" 
             sizes="(min-width: 320px) 100w, 30vw" 
             src="icon-social-publishing-large.png" 
             alt="Screen of app directory feature">
        
    </div>
    <div class="feature feature--reverse feature--darker-gray">
        <div>
            <h1 class="feature__title">Engagement</h1>
            <p class="feature__text">
                See a full screen of messages coming into your brand across all your connected social profiles.
            </p>
            <img class="feature__other-icon" src="icon-engagement-social-medias-small.png" alt="">
            <a href="" class="button button--primary">Get Started</a>
        </div>
        <img class="feature__icon feature__icon--start" 
             srcset="icon-engagement-small.png 214w, icon-engagement-medium.png 299w, icon-engagement-large.png 467w" 
             sizes="(min-width: 320px) 100w, 30vw" 
             src="icon-engagement-large.png" 
             alt="Screen of app directory feature">
    </div>
    <div class="feature">
        <div>
            <h1 class="feature__title">Collaboration</h1>
            <p class="feature__text">
                Turn any in-bound message into a task can be routed to the appropriate team member.
                Live active updates prevent your team from replying to the same message twice.
            </p>
            <a href="" class="button button--primary">Get Started</a>
        </div>
        <img class="feature__icon feature__icon--end feature__icon-collaboration" 
             srcset="icon-collaboration-small.png 214w, icon-collaboration-medium.png 299w, icon-collaboration-large.png 467w" 
             sizes="(min-width: 320px) 100w, 30vw" 
             src="icon-collaboration-large.png" 
             alt="Screen of app directory feature">
    </div>
    <div class="feature feature--reverse feature--lighter-gray">
        <div>
            <h1 class="feature__title">App Directory</h1>
            <p class="feature__text">
                The reach.me App Directory is a collection of extensions and applications brands
                can add to their dashbord to create a customized experience and extend reach beyond
                just the traditional social channels.
            </p>
            <a href="" class="button button--primary">Get Started</a>
        </div>
        <img class="feature__icon feature__icon--center" 
             srcset="icon-app-directory-small.png 214w, icon-app-directory-medium.png 299w, icon-app-directory-large.png 467w" 
             sizes="(min-width: 320px) 100w, 30vw" 
             src="icon-app-directory-large.png" 
             alt="Screen of app directory feature">
    </div>
</body>
</html>